extends layout

block content
  h1=title

  div(style='margin-left:20px;margin-top:20px')

    dl 
      each message in message_list 
        if isMember
          dt #{message.title}
          dt #{message.user.full_name}
          dd #{message.text}
          dd #{message.timestamp}
        else 
          dt #{message.title}
          dd #{message.text}
        if isAdmin
          form(method='POST')
            button.btn.btn-primary(type='submit') Delete Message
